/* custom.css */
.css-1lnv6ob {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTYgMjU2Ij4KICA8cGF0aCBkPSJNMjU2LjIyNCAwLjAyOThMMTI1LjY4IDAgMjU2IDIzMi4wMDUgMjU2LjIyNCAwLjAyOVoiIHN0cm9rZT0iIzc1Qjc3OSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPg==');
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    cursor: pointer;
}
